/* styles.css */
.pagination {
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    gap: 10px;
    z-index: 10; /* Make sure it stays above other content */
  }
  
  .pagination button {
    background: #000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 10px;
    border-radius: 5px;
    transition: background 0.3s, transform 0.3s;
  }
  
  .pagination button:hover {
    background: #333;
    transform: scale(1.1);
  }
  
  .pagination button:disabled {
    background: #555;
    cursor: not-allowed;
  }
  
  .page {
    background: #555555;
    position: relative;
    min-height: 100vh;
    padding: 50px; /* Adjust padding as needed */
  }
  
  .pagination button:disabled {
    background-color: #6c757d;
    cursor: not-allowed;
  }
  
  .pagination button:not(:disabled):hover {
    background-color: #0056b3;
  }
  .pagination button {
    margin-right: 5px;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
.pagination label {
  margin-right: 10px;
  color: #fff;
}
